<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>register user</title>
  </head>
  <body class="bg-[rgb(0,0,0)] text-white">
    <div class="container">
      <div
        class="flex flex-col items-center justify-center mt-16 max-w-lg mx-auto shadow-[0px_1px_2px_rgb(36,45,52)] rounded-lg p-2"
      >
        <svg viewBox="0 0 24 24" class="w-8 h-8 fill-[rgb(231,233,234)] mt-5">
          <g>
            <path
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
            ></path>
          </g>
        </svg>
        <h1 class="text-2xl font-ProductSansBold mt-4">
          Create a user account
        </h1>
        <form action="{% url 'register-page' %}" class="w-full flex flex-col" id="registerForm" method="post"> {% csrf_token %}
          <!-- input userName-->
          <dv class="w-full mt-5">
            {{ register_form.username }}
            {{ register_form.username.errors }}
          </dv>
          <!-- input email-->
          <dv class="w-full mt-5">
            {{ register_form.email }}
            {{ register_form.email.errors }}
            <span
              id="emailValidationMessage"
              class="text-sm text-[rgb(244,33,46)] hidden"
            >
              Please enter a valid email
            </span>
          </dv>
          <dv class="w-full mt-5 flex justify-between items-center gap-2">
            <!-- select box months -->
            <div
              class="flex items-center justify-between border border-borderColor rounded-lg w-full sm:w-auto relative"
            >
              <label for="monthSelectBox" class="text-sm absolute top-1 left-2"
                >month</label
              >
              <select
                id="monthSelectBox"
                class="appearance-none pt-6 bg-[rgba(0,0,0,0)] text-[rgb(231,233,234)] focus:outline-none py-4 sm:pr-16 pl-2 w-full sm:w-auto"
              ></select>
              <svg
                viewBox="0 0 24 24"
                class="fill-third w-4 h-4 absolute right-2 pointer-events-none"
              >
                <g>
                  <path
                    d="M3.543 8.96l1.414-1.42L12 14.59l7.043-7.05 1.414 1.42L12 17.41 3.543 8.96z"
                  ></path>
                </g>
              </svg>
            </div>
            <!-- select box days -->
            <div
              class="flex items-center justify-between border border-borderColor rounded-lg w-full sm:w-auto relative"
            >
              <label for="monthSelectBox" class="text-sm absolute top-1 left-2"
                >day</label
              >
              <select
                id="daySelectBox"
                class="appearance-none pt-6 bg-[rgba(0,0,0,0)] text-[rgb(231,233,234)] focus:outline-none py-4 sm:pr-16 pl-2 w-full sm:w-auto"
              ></select>
              <svg
                viewBox="0 0 24 24"
                class="fill-third w-4 h-4 absolute right-2 pointer-events-none"
              >
                <g>
                  <path
                    d="M3.543 8.96l1.414-1.42L12 14.59l7.043-7.05 1.414 1.42L12 17.41 3.543 8.96z"
                  ></path>
                </g>
              </svg>
            </div>
            <!-- select box years -->
            <div
              class="flex items-center justify-between border border-borderColor rounded-lg w-full sm:w-auto relative"
            >
              <label for="monthSelectBox" class="text-sm absolute top-1 left-2"
                >year</label
              >
              <select
                id="yearsSelectBox"
                class="appearance-none pt-6 bg-[rgba(0,0,0,0)] text-[rgb(231,233,234)] focus:outline-none py-4 sm:pr-16 pl-2 w-full sm:w-auto"
              ></select>
              <svg
                viewBox="0 0 24 24"
                class="fill-third w-4 h-4 absolute right-2 pointer-events-none"
              >
                <g>
                  <path
                    d="M3.543 8.96l1.414-1.42L12 14.59l7.043-7.05 1.414 1.42L12 17.41 3.543 8.96z"
                  ></path>
                </g>
              </svg>
            </div>
          </dv>
          <!-- input password-->
          <dv class="w-full mt-5 relative">
            <input
              id="passwordInput"
              type="password"
              class="w-full bg-[rgba(0,0,0,0)] border border-borderColor py-3 px-2 rounded-lg transition-all duration-200 focus:border-primary focus:placeholder:text-primary focus:placeholder:text-sm"
              placeholder="password"
              name="password"
              required
            />
            <!-- Icon Eye Is Show And Hidden Password-->
            <button class="absolute top-[40%] right-2" id="eyePasswordRegister">
              <svg
                id="eyePasswordRegisterIcon"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
            </button>
            <span
              id="passwordValidationMessage"
              class="text-sm text-[rgb(244,33,46)] hidden absolute top-14 left-0 right-0"
            >
              The password must be at least 8 characters and a combination of
              uppercase and lowercase letters and symbols
            </span>
          </dv>

          <button
            type="submit"
            class="w-full py-3 px-3 rounded-lg bg-primary mt-5"
            id="registerButton"
          >
            Register
          </button>
        </form>
      </div>
    </div>

    <!-- Scripts -->
<!--    <script src="{% static 'js/registerUser.js' %}"></script>-->
  </body>
</html>
